.page {
  width: 21cm;
  height: 29.7cm;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  border: 1px solid rgb(199, 194, 194);
  width: 21cm;
  height: 29.7cm;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1cm;
}

#exam-model-header {
  padding-top: 1cm;
}

#exam-model-identifier {
  padding-top: 1cm;
}

#exam-model-answers {
  padding-top: 1cm;
}