.answers input[type=radio] {
  width: 35px;
  height: 35px;
}

.answers label {
  position: relative;
  left: -22px;
  top: 5px;
}

.answers label.checked {
  opacity: 0;
}

.answers {
  height: 50px;
  display: flex;
  align-content: center;
}

.answers div {
  display: flex;
}